* {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 10px; color: white;
    box-sizing: border-box;
}

body {
    background-color: black;
    padding-bottom: 60px;
    box-sizing: border-box;
}

h1.huge {
    font-size: 22rem;
    line-height: 14rem;
    letter-spacing: -2.7rem;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 10rem;
    line-height: 8rem;
    letter-spacing: -1rem;
    color: #A9C4DA;
}

h3 {
    font-weight: 300;
    font-size: 1.6rem;
}

.upper {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 15px;
}

header h3 {
    font-size: 2rem;
    color: rgb(106, 106, 106);
    transition: .2s;
}

header h3:hover {
    transition: .2s;
    color: #A9C4DA;
}

.logo {
    font-weight: 500;
    font-size: 2rem;
    transition: .2s;
}

.logo:hover {
    transition: .2s;
    color: #A9C4DA;
}

.inline {
    display: flex;
    align-items: flex-end;
}

.line {
    border: 1px solid rgb(43, 43, 43);
    width: 80%;
    margin: 60px 12%;
    box-sizing: border-box;

}

a {
    color: unset;
    text-decoration: none;
    width: min-content;

}

header {
    box-sizing: border-box;

    padding: 60px 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.header_button {
    border: 1px solid rgb(143, 143, 143);
    padding: 6px 30px;
    border-radius: 50px;
}

.header_button:hover {
    border-color: #A9C4DA;
    color: #A9C4DA;
    transition: .2s;
}

section.one {
    /* display: flex; */
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 12%;
    box-sizing: border-box;

}

.one_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.one_image {
    width: 100%;
    /* width: 500px; */
    /* height: 530px; */
    height: 400px;
    /* padding-left: 60px; */
    padding-top: 20px;
}

@media screen and (max-width: 900px) {
    h1.huge {
        font-size: 15rem;
        line-height: 9rem;
        letter-spacing: -1rem;
    }
    
    h1 {
        font-size: 6rem;
        line-height: 5rem;
        letter-spacing: -0.5rem;
    }
}


@media screen and (max-width: 530px) {
    h1.huge {
        font-size: 12rem;
        line-height: 7rem;
        letter-spacing: -1rem;
    }
    
    h1 {
        font-size: 5rem;
        line-height: 4rem;
        letter-spacing: -0.4rem;
    }

    .dissapear {
        display: none;
    }
}

@media screen and (max-width: 430px) {
    h1.huge {
        font-size: 11rem;
        line-height: 6rem;
        letter-spacing: -1rem;
    }
    
    h1 {
        font-size: 3.5rem;
        line-height: 2.5rem;
        letter-spacing: -0.4rem;
    }

    .dissapear {
        display: none;
    }

}

/* ---------------- */

section.two {
    padding: 0 12%;
    box-sizing: border-box;

}

.gallery {
    cursor: grab;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat; */
    grid-gap: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 30px;
}

.gallery_img {
    width: 370px;
    height: 370px;
}

.gallery_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gallery_img h3{
    color: white;
}

#gallery::-webkit-scrollbar {
    display: none;
}

.lined {
    text-transform: uppercase;
    margin-top: 15px;
    transition-duration: 0.5s;
}

.lined:hover {
    color: aqua;
}

@media screen and (max-width: 1050px) {
    .gallery {
        grid-gap: 15px
    }

    .gallery_img {
        width: 270px;
        height: 270px;
    }
}

@media screen and (max-width: 450px) {
    .gallery_img {
        width: 170px;
        height: 170px;
    }
}

/* ------------- */



section.three {
    padding: 0 12%;
    text-align: center;
    box-sizing: border-box;

}

section.three h1 {
    letter-spacing: -0.1rem;
    /* line-height: 5rem; */
}

section.three img {
    width: 100%;
}


/* ----------- */
section.four {
    padding: 0 12%;
    box-sizing: border-box;
}

.works {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr; */
    grid-gap: 15px;
}

.work {
    /* width: 100%; */
    /* height:100%; */
    aspect-ratio: 1;
}

.work img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width:450px) {
    .works {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 30px;
    }
}


/* ---------- */
footer {
    text-align: center;
    justify-items: center;
    width: min-content;
    margin: 0 auto;
}

.icons {
    display: flex;
    text-align: center;
    width: min-content;
    align-items: center;

    margin: 20px 0 30px;
}

.fa-brands {
    font-size: 3rem;
    transition: .2s;

}

.fa-brands:hover {
    color: #A9C4DA;
    transition: .2s;
}

.icon_center {
    margin: 0 10px;
}

.email {
    border: 1px solid rgb(84, 84, 84);
    width: min-content;
    padding: 6px 20px;
    margin-right: 10px;
    border-radius: 50px;
}


/* ---------- */

@media screen and (max-width: 649px) {
    .line {
        border: 1px solid rgb(43, 43, 43);
        width: 80%;
        margin: 30px 2;
    }

    .upper {
        font-size: 2rem;
    }

    .gallery {
        margin-top: 15px;
    }
    
}
@media screen and (max-width: 450px) {
    header, section.one, section.two, section.three, section.four {
        padding-left: 5%;
        padding-right: 5%;
    }
}